{% extends "shop/layout.html" %}
{% load humanize %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ shop.name }}</h2>
            <table class="table table-borderd table-hover">
                <tbody>
                    {% for item in shop.item_set.all %}
                    <tr>
                        <td>
                            {% if item.photo %}
                            <img src="{{ item.photo.url }}" style="width:144px;" />
                            {% endif %}
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.amount|intcomma }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>

            <h3>리뷰</h3>

            <a href="{% url "shop:review_new" shop.pk %}" class="btn btn-primary">리뷰 쓰기</a>
            <table>
                <tbody>
                    {% for review in shop.review_set.all %}
                    <tr>
                        <td>
                            {{ review.comment }}
                            {% if review.photo %}
                            <img src="{{ review.photo }}" alt="{{ shop.name }}" style="max-width:200px" />
                            {% endif %}
                            by {{ review.creator }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr />
            <a href="{{ shop.category.get_absolute_url }}">{{ shop.category.name }} 카테고리로</a>
            <a href="{% url "shop:index" %}" class="btn btn-primary">홈으로</a>
        </div>
    </div>
</div>


{% endblock %}